#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body
{
  background: #66d4ff;
  background: linear-gradient(291deg,rgba(102, 212, 255, 1) 0%, rgba(117, 136, 255, 1) 50%, rgba(98, 83, 237, 1) 100%);
}

.glass
{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass .glass
{
  background: transparent;
}

.glass-button
{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass .glass-button
{
  background: transparent;
}
.glass .glass-button:hover
{
  background: rgba(255, 255, 255, 0.1);
}

.glass-button:hover
{
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-button:disabled
{
  background: rgba(0, 0, 0, 0.08);
}

.glass-button:disabled:hover
{
  background: rgba(0, 0, 0, 0.08);
}
